.form-group{
	width:100%;
}
.o_thanh_toan input{
	border-radius:5px;
	width:100%;
	height:43px;
	color:#DFDBDB;
	padding-left:18px;
	font-size:15px;
}
.form-group select{
	border-radius:5px;
	width:100%;
	height:43px;
	color:#A19F9F
}
.form-group textarea{
	border-radius:3px;
	width:100%;
	color:black;
	padding-left:18px;
	font-size:15px;
	height:85px;
}
.gach_duoi{
	border-top:solid 1px black;
}
.nut_dat_hang{
	color: #f2f0f0;
    border-radius: 10px;
    width: 95px;
    height: 32px;
    margin-left: 271px;
    margin-top: 14px;
    background: black;
    padding-top: 8px;
    padding-left: 13px;
}
a .nut_dat_hang:hover{
	background:red;
	
}
